<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Kreiranje novog kolegija</title>
</head>
<body>
	<div align="center">
		<h1>Upišite podatke za novi kolegij</h1>
		<br />
		<form action="#" th:action="@{/kolegij/novi}" th:object="${kolegij}" method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Naziv kolegija:</td>
					<td><input type="text" th:field="*{naziv}" /></td>
				</tr>
				<tr>
					<td>ECTS:</td>
					<td><input type="text" th:field="*{ECTS}" /></td>
				</tr>
				<tr>
					<td>Studij:</td>
					<td><input type="text" th:field="*{studij}" /></td>
				</tr>
							
				<tr>
					<td colspan="2"><button type="submit">Snimi</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>